[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfplumber = "*"
faiss-cpu = "*"
openai = "*"
pytesseract = "*"
pdf2image = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
